header {
	position: relative;
}

h1 {
	margin-bottom: 1rem;
	font-weight: 900;
}

header p {
	margin-bottom: 3rem;
	line-height: 1.5;
}

header button {
	width: 100%;
	font-size: 1.8rem;
	font-weight: 600;
	padding: 1.5rem;
	border-radius: 3px;
	margin-bottom: 3rem;
	color: var(--white);
	background-color: var(--purple-blue);
}

header img {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 10rem;
}
