.left-section {
	padding: 5rem 0 0 3rem;
}

.right-section {
	padding: 6rem 3rem 0rem 2rem;
	color: var(--white);
	background-color: rgb(22, 13, 61);
}

.resume-one {
	display: grid;
	grid-template-columns: 0.8fr 0.5fr;
	gap: 7rem;
}

.resume-one h1 {
	margin-bottom: 3rem;
}

.resume-one h2 {
	margin-bottom: 1rem;
}
.resume-one h1,
.resume-one .left-section h2 {
	border-bottom: 1px solid var(--black);
	padding-bottom: 0.5rem;
}

.resume-one .right-section h2 {
	border-bottom: 1px solid var(--white);
	padding-bottom: 0.5rem;
}

.resume-one .work-history div {
	margin-bottom: 2rem;
}

.resume-one .contact-info {
	margin-bottom: 2rem;
}
