.resume {
	width: 816px;
	height: 1056px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
	scale: 0.3;
	height: 0px;
	width: 0px;
}

.left-section,
.right-section {
	padding: 5rem 0 0 5rem;
}

.right-section {
	background-color: aquamarine;
}

.resume-one {
	display: grid;
	grid-template-columns: 0.8fr 0.5fr;
	gap: 7rem;
}

.resume-one h1 {
	border-bottom: 2px solid black;
}

.uppercase {
	text-transform: uppercase;
}
