@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
	--white: #fff;
	--purple-blue: #440ccc;
	--light-purple: #460ccc3b;
	--black-grey: #343a40;
	--light-grey: rgba(168, 189, 233, 0.12);
	--dark-purple-blue: rgb(22, 13, 61);
	--black: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Roboto Slab", serif;
	color: var(--black-grey);
	background-color: var(--very-light-bg);
}

body.fixed {
	position: fixed;
	/* max-height: 100vh; */
	overflow-y: hidden;
}

a {
	color: var(--black-grey);
	text-decoration: none;
}

ul li {
	list-style: none;
}

button {
	font-size: 1.6rem;
	font-family: "Roboto Slab", serif;
	border: none;
	color: var(--black-grey);
	background-color: transparent;
}

img {
	width: 100%;
}

p {
	line-height: 1.6;
}

.light-btn {
	color: var(--purple-blue);
	background-color: transparent;
	border: 1px solid var(--purple-blue);
}

.dark-btn {
	color: var(--white);
	background-color: var(--purple-blue);
}

.padding-helper {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

/* Universal form styles */

.form {
	padding: 1.5rem 2.5rem 0;
	height: 100vh;
}

.form h2,
.form h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 4rem;
}

.form .inputs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.form .input {
	display: flex;
	flex-direction: column;
}

.form .input div {
	position: relative;
}

.form .input div input {
	width: 100%;
	padding: 1.2rem 1.2rem 1.2rem 4rem;
	background-color: var(--light-grey);
	border: none;
	font-size: 1.6rem;
}

.form .input label {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.form .input div img {
	position: absolute;
	left: 1rem;
	width: 2.3rem;
	top: 50%;
	transform: translateY(-50%);
}

.form .btn {
	font-size: 2rem;
	font-weight: 900;
	width: 100%;
	padding: 1rem;
	border-radius: 3px;
	margin-bottom: 1.5rem;
}

.form .submit-btn {
	color: var(--white);
	background-color: var(--purple-blue);
}

.form .demo-btn {
	color: var(--black);
	background-color: var(--light-purple);
}

.form .small-txt {
	text-align: center;
}

.login-form,
.signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.err {
	color: red;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.uppercase {
	text-transform: uppercase;
}

.mb-helper {
	margin-bottom: 2rem;
}

.bold {
	font-weight: bold;
}

/* Resume styles */

.resume {
	width: 816px;
	height: 1056px;
	font-size: 1.4rem;
	box-shadow: #0000003d 0px 3px 8px;
	position: relative;
	transform: translateX(-50%);
}

.container {
	scale: 0.3;
	height: 0px;
	width: 0px;
}

.resume h1 {
	font-size: 4rem;
}
